<%- include('partials/header.ejs') %>

  <main class="container">
    <h1>Project Capstone</h1>
    <h2>Author List</h2>
    <ul>
      <div class="cards-container">
        <% books.forEach(book=> { %>
          <a href="/book/<%= book.id %>">
            <div class="book-card">
              <img src=<%=book.cover %> alt="">
            </div>
          </a>
          <% }) %>
      </div>
    </ul>
  </main>

  <%- include('partials/footer.ejs') %>